/* ===== Estilos Gerais =====  */
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 10px;
  background-color: #f4f6fa;
  color: #333;
}

header {
  background-color: #2e4f9b;
  color: white;
  text-align: center;
  padding: 2rem;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
}

section {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

h2 {
  color: #2e4f9b;
  border-left: 5px solid #ffcc00;
  padding-left: 10px;
}

p {
  line-height: 1.6;
  text-align: justify;
}
